<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study OS | Form</title>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
            </ul>
        </nav>
    </header>
</head>
<body>
    <div>
        <h2>Add availability for {{ student.name }}</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group mb-3">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</body>
</html>